body {
    font-family: 'Nunito', sans-serif;
}
.text-right{
    text-align: right;
}
.noD{
    display: none;
}
#sideALert{
    position: fixed;
    top: 15%;
    right: 15px;
    z-index: 11;
    display: none;
}
.valid-feedback.fail{
    color: red;
}